page, .taro_page {
  overflow: auto;
  /* padding: 20px; */
  box-sizing: border-box;
  font-size: 14px;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  margin-bottom: 8px;
}

.flex-1 {
  flex: 1;
}

 /* taro-button bug */
taro-button-core[size=mini]+taro-button-core[size=mini] {
  margin-top: 0;
}

/* .weui-input:focus {
  border: 1px solid #ccc;
} */
