registry=https://registry.npmmirror.com
puppeteer_download_host=https://npmmirror.com/mirrors

enable-pre-post-scripts=true
allow-same-version=true

strict-peer-dependencies=false
auto-install-peers=true

use-node_version=18.20.3
save-workspace-protocol=rolling
save-prefix=*
prefer-workspace-packages=true
include-workspace-root=true
link-workspace-packages=true
hoist-workspace-packages=false
update-notifier=false

package-manager-strict=false

use-lockfile-v6=true

message="chore(release): publish %s"
