registry=https://registry.npmmirror.com
puppeteer_download_host=https://npmmirror.com/mirrors

strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers=true
allow-same-version=true
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=rolling

message="chore(release): publish %s"
