@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.woff2') format('woff2');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-basic:before {
  content: '\e86e';
}

.iconfont-environment:before {
  content: '\e60e';
}

.iconfont-wechat:before {
  content: '\e609';
}

.iconfont-network:before {
  content: '\e64c';
}
