:root, page, body {
  --primary-color: #792be4;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.gap {
  margin-bottom: 8px!important;
}

.taroify-cell__brief {
  word-break: break-all;
}
